{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block-->

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/index.css')}}">
{% endblock %}

{% block content %}
<div>
    <h1>PITCHES</h1>

    <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. So how do you make sure that you use your 1 minute to actually say something meaningful?</p>
    <p>I leave that to you</p>
    <p>Make sure to spice things up and do your best</p>
    <p>Give your honest opinions in each given pitch</p>

    <a class="btn btn-success btn-lg text-center" href="{{url_for('main.new_pitch')}}">Upload Pitch</a>

    <p>This are the uploaded pitches:</p>
    {% if pitches %}
        {{macro.displayPitchList(pitches)}}

    {% else%}
        <p>There are no pitches available yet</p>
    {% endif %}
</div>
{% endblock %}