{% extends 'base.html' %}
{% block content %}
<h1>Welcome to AudioMak </h1>
<h3>Pick up lines(Certified Lover)</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
<h3>Interview Pitch</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
<h3>Talent Showcase(any)</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
<h3>Sales Pitch</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
{% endblock %}